@model CoreDMS.Model.DocumentFiles

@{
    ViewData["Title"] = "DocumentFiles";
}
<h2>@ViewData["Sitetitle"]</h2>

@section Scripts {
    <script type="text/javascript" src="~/ClientApp/runtime.js"></script>
    <script type="text/javascript" src="~/ClientApp/polyfills.js"></script>
    <script type="text/javascript" src="~/ClientApp/styles.js"></script>
    <script type="text/javascript" src="~/ClientApp/vendor.js"></script>
    <script type="text/javascript" src="~/ClientApp/main.js"></script>
}

<form asp-controller="DocumentFile"
    asp-action="Detail"
    method="Post"
    style="border: 1px solid #cecece; padding: 2px;  margin-bottom: 3px;">
    <div class="form-group row">
            <label asp-for="@Model.Title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-8">
                <input asp-for="@Model.Title" type="text" value="@Model.Title" class="form-control">
            </div>
    </div>
    <div class="form-group row">
            <label asp-for="@Model.Note" class="col-sm-2 col-form-label">Note</label>
            <div class="col-sm-8">
                <input asp-for="@Model.Note" type="text" value="@Model.Note" class="form-control">
            </div>
    </div>
    <div>
        <input asp-for="@Model.Id" type="hidden" value="@Model.Id" />
        <input type="submit" value="Aktualisieren" class="btn btn-primary">
    </div>
</form>
<div id="documentfile-result">
</div>
<app-documentfileform></app-documentfileform>
<app-documentfile input="@Model.Id"></app-documentfile>
<script type="text/javascript">
    $(function () {
        $('#btn-AddFileId').click(function(evt){
            $('#documentfile-result').empty();
            var hashInput = $('#fileid').val();
            var documentFileId = $('#Id').val();
            var postData = {
                documentId: hashInput,
                documentFileId: documentFileId
            };
            console.log(postData);
            $.ajax({
                type: 'POST',
                url: '/add/fileid',
                data: JSON.stringify(postData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successAdd,
                error: errorAdd
            })
        })

        var successAdd = function(data) {
            console.log(data);
        };

        var errorAdd = function(err) {
            console.log(err);
        };

        var loadFiles = function (){
            console.log('init');
            var documentFileId = $('#Id').val();
            $.ajax({
                type: 'POST',
                url: '/get/documentfileid',
                data: JSON.stringify(documentFileId),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successLoad,
                error: errorLoad
            })
        }

        var successLoad = function (data) {
            console.log('successLoad');
            console.log(data);
        };

        var errorLoad = function() {
            console.log('errorLoad');
        };

        //loadFiles();
    });
</script>